<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.volumeprofiler">

    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission-sdk-23 android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE"/>

    <application
        android:name=".Application"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.VolumeProfiler">

        <receiver android:name=".receivers.NotificationActionReceiver" android:enabled="true" android:directBootAware="true"
            tools:targetApi="n">
            <intent-filter>
                <action android:name="com.example.volumeprofiler.ACTION_SELECT_PROFILE"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.BootCompletedReceiver" android:enabled="true" android:directBootAware="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.AlarmReceiver" android:directBootAware="true"
            android:enabled="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="com.example.volumeprofiler.ACTION_TRIGGER_ALARM"/>
                <category android:name="android.intent.category.DEFAULT"/>
            </intent-filter>
        </receiver>

        <receiver android:name=".receivers.IncomingCallReceiver" android:enabled="true"
            android:directBootAware="true" tools:targetApi="n">
            <intent-filter>
                <action android:name="android.intent.action.PHONE_STATE"/>
            </intent-filter>
        </receiver>

        <service android:name=".services.AlarmRescheduleService" android:enabled="true" android:directBootAware="true" tools:targetApi="n"/>
        <service android:name=".services.ProfileSelectService" android:enabled="true" android:directBootAware="true" tools:targetApi="n"/>

        <activity android:name=".activities.EditProfileActivity"/>
        <activity android:name=".activities.EditEventActivity"/>
        <activity android:name=".activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>